.board {
    max-width: 100%;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: min-content;
    justify-items: center;
    gap: 2rem .2rem;
    justify-self: center;
    align-self: center;
}