.card img {
    width: 100%;
}

.card {
    cursor: pointer;
    width: 280px;
    min-height: 162.516px;
    padding: .8rem;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 10px 0px gray;
    will-change: transform;
    transition: transform .2s ease-in-out;
}

.card:hover {
    transform: perspective(100px) translateZ(10px);
}